<!DOCTYPE html>
<link rel="stylesheet" href="/stylesheets/beat.css">
<head>
    <title>{{ title }}</title>
</head>
<body>
    <div class="nav">
        <div>
            <button><a href="/beats">Volver al listado de pistas</a></button>
        </div>
        <div>
            <button><a href="/lyrics">Volver al listado de letras</a></button>
        </div>
    </div>

    <div class="beatContainer">
        <p>Currently Listening to:</p>
        <div class="songTitle">{{ beats.beatName }}</div>

        <div class="box">
            <img src="{{ beats.image }}" alt="{{ beats.beatName }}">
        </div>
                
        <audio controls autoplay>
            <source src="horse.ogg" type="audio/ogg">
            <source src="{{ beats.audio }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>

    <div class="lyricContainer">
        <h1>Componer mi letra:</h1>

        <form method="POST" action="/lyrics/create" enctype="multipart/form-data">
            <div>
                <div class="item">
                    <label>MC:</label>
                    <input name="mc" placeholder="Tu nombre aqui" type="text">
                </div>
                <div class="item">
                    <label>Upload your photo:</label>
                    <input name="image" type="file" accept="image/png, image/jpg">
                </div>
                <div class="item">
                    <label>Song Name:</label>
                    <input name="songName" placeholder="Nombra tu canción aqui" type="text">
                </div>
                <div>
                    <textarea name="description" placeholder="Empieza a componer como todo un pro..." rows="30" cols="140"></textarea>
                </div>  
            </div>
        
            <div>
                <button class="form-button" type="submit">Crear letra</button>
            </div>
        </form>
    </div>
        
</body>
</html>