<!DOCTYPE html>
<link rel="stylesheet" href="/stylesheets/beats.css">
<head>
    <title>{{ title }}</title>
</head>
<body>
    <div class="nav">
        <div>
            <button><a href="/">volver al inicio</a></button>
        </div>
    </div>

    <h1>Listado de Pistas:</h1>

    <div class="container">

        <div class="containerCards">
            {{#each beats}}
                <div class="item">
                    
                    <div class="box">
                        <img src="{{ this.image }}" alt="{{ this.beatName }}">
                    </div>
                    
                    <div>
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="{{ this.audio }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>

                    <h3>
                        <button><a href="/beats/{{ this._id }}">{{ this.beatName }}</a></button>
                    </h3>

                    <p>{{ this.mc }} - {{ this.year }}</p>
                
                </div>
            {{/each}}
        </div>
    </div>

</body>
</html>