<!DOCTYPE html>
<link rel="stylesheet" href="./stylesheets/index.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <div class="header">
        <img class="logo" src="https://res.cloudinary.com/dkdvapfsa/image/upload/v1612271977/firma_high_beats-03_rddvu0.png" alt="headerImg">
    </div>
    <div class="container">
        <div>
            <img class="bgImg" src="https://res.cloudinary.com/dkdvapfsa/image/upload/v1612270694/background_ppdgvm.jpg" alt="indexImg">
        </div>
        
        <div class="nav">
            <div>
                <button><a href="/login">Login</a></button>
            </div>
            <div>
                <button><a href="/register">Registrarme</a></button>
            </div>
            <div>
                <button><a href="/beats">Beats</a></button>
            </div>
            <div>
                <button><a href="/lyrics">Lyrics</a></button>
            </div>
        </div>
    </div>
    
</body>
</html>