<!DOCTYPE html>
<link rel="stylesheet" href="./stylesheets/login.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upgrade Login</title>
</head>
<body>
    <div class="container">
        <div>
            <h1>Login</h1>
        </div>
        <div>
            <form action="/user/login" method="POST">
                <label for="email">
                    <p>Email</p>
                    <input type="text" name="email">
                </label>
                <label for="password">
                    <p>Password</p>
                    <input type="password" name="password">
                </label>
                <div>
                    <input type="submit" value="Login">
                </div>
                {{#if error}}
                    <p style="color:red; font-size:18px">{{ error }}</p>
                {{/if}}
            </form>
        </div>
    </div>
    
</body>
</html>