<!DOCTYPE html>
<link rel="stylesheet" href="./stylesheets/beats.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/beats.css">
    <title>{{ title }}</title>
</head>
<body>
    <div>
        <a href="/lyrics">Volver al listado de letras</a>
    </div>

    <h1>La Pista con  ID {{ this.id }}</h1>

    {{#if this.lyric}}
        <img src="{{ this.lyric.image }}" alt="{{ this.lyric.mc }}">
        <h4>mc: {{ this.lyric.mc }}</h4>

        <h1>Song Name: {{ this.lyric.songName }}</h1>
        <p>Description: {{ this.lyric.description }}</p>
        
    {{else}}
        <h3>No hemos encontrado la letra que buscas con ID: {{ this.id }}</h3>
    {{/if}}

</body>
    
</html>