<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/lyrics.css">
    <title>{{ title }}</title>
</head>
<body>

    <nav>
        <form action="/user/logout" method="POST">
<input type="submit" value="Logout">
        </form>
    </nav>
    <div class="nav">
        <div>
            <button><a href="/">volver al inicio</a></button>
        </div>
    </div>

    <h1 class="title">Todas las Letras</h1>

            {{#each lyrics}}
        <div class="card">
            <div class="container">
                <div class="profile">
                    <div class="box">
                        <img src="{{ this.image }}" alt="{{ this.mc }}">
                    </div>
                    <div>
                        <p>{{ this.mc }}</p>
                    </div>
                    <div>
                        <h1>{{ this.songName }}</h1>
                    </div>
                </div>

                <div class="description">
                    <div>
                        <p>{{ this.description }}</p>
                    </div>
                </div>
            </div>
            <div class="links">
                <div>
                    <button><a href="/lyrics/{{ this.id }}">See Details</a></button>
                </div>
                <div>
                    <a href="/lyrics/{{_id}}/delete">
                        <img src="https://res.cloudinary.com/dkdvapfsa/image/upload/v1612280166/delete_uvvvbj.png" width="40">
                    </a>
                </div>
            </div>
        </div>
        {{/each}}

</body>
</html>