<!DOCTYPE html>
<link rel="stylesheet" href="./stylesheets/login.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upgrade Register</title>
</head>
<body>
    <div class="container">
        <h1>Register</h1>

    <form action="/user/register" method="POST">

        <label for="email">
            <p>Email</p>
            <input type="text" name="email" minlength="6">
        </label>

        <label for="password">
            <p>Password</p>
            <input type="password" name="password">
        </label>

        <div>
            <input type="submit" value="Register Now!">
        </div>

        {{#if error}}
        <p style="color:red; font-size:18px">{{ error }}</p>
        {{/if}}
    </form>
    </div>
    
    
</body>
</html>