body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: monospace;
}

.nav {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerCards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

audio {
    width: 500px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
    background-color: #FFF;
    color: #000;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 500px;
    background-color: white;
    padding: 5px;
}

.box {
    height: 300px;
}

.box img {
    width: 100%;
    height: auto;
}

@supports(object-fit: cover) {
    .box img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

button {
    background-color: white;
    padding: 10px;
    color: white;
    font-family: monospace;
    font-size: x-large;
}

button:hover {
    background-color: rgb(209, 209, 1);
    padding: 10px;
    font-family: monospace;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: black;
}