body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: monospace;
    width: 100%;
}

.songTitle {
    font-size: 50px;
    font-weight: bolder;
}

.nav {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

button {
    background-color: white;
    padding: 10px;
    color: white;
    font-family: monospace;
    font-size: x-large;
}

button:hover {
    background-color: rgb(209, 209, 1);
    padding: 10px;
    font-family: monospace;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: black;
}

.beatContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    height: 300px;
    margin: 20px;
}

.box img {
    width: 100%;
    height: auto;
}

@supports(object-fit: cover) {
    .box img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

audio {
    width: 90%;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
    background-color: #FFF;
    color: #FFF;
}

.lyricContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-button {
    color: black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

label {
    font-size: 20px;
}

textarea {
    min-height: 100%;
    width: 100%
}

.item {
    margin: 10px;
}