html,
body {
    margin: 0;
    padding: 0;
}

.header {
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: row;
}

.logo {
    height: 200px;
}

.nav {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bgImg {
    width: 100%;
}

button {
    background-color: white;
    padding: 10px;
    color: white;
    font-family: monospace;
    font-size: x-large;
}

button:hover {
    background-color: rgb(209, 209, 1);
    padding: 10px;
    font-family: monospace;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: black;
}