    html,
    body {
        margin: 0;
        padding: 0;
        background-image: url(https://res.cloudinary.com/dkdvapfsa/image/upload/v1612270694/background_ppdgvm.jpg);
        background-size: cover;
        font-family: monospace;
        color: white;
        font-size: 22px;
    }
    
    .container {
        display: flex;
        justify-content: center;
    }