body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: monospace;
}

.nav {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 20px;
}

h1 {
    text-align: center;
}

.box {
    height: 200px;
    width: 200px;
}

.box img {
    width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 50%;
}

@supports(object-fit: cover) {
    .box img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

button {
    background-color: white;
    padding: 10px;
    color: white;
    font-family: monospace;
    font-size: x-large;
}

button:hover {
    background-color: rgb(209, 209, 1);
    padding: 10px;
    font-family: monospace;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: black;
}

.card {
    margin: 20px;
}

.container {
    display: flex;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    width: 22%;
}

.description {
    width: 72%;
    height: auto;
    background-color: white;
    color: black;
    padding: 10px;
}

.links {
    display: flex;
    width: 94%;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    padding: 10px;
}